# Reshape Units Reserves Data (Winter)

by [Mauricio Hernandez](mmh54@duke.edu)

In [1]:
import csv
import datetime as dt
import numpy as np
import pandas as pd

In [2]:
df_hr_winter = pd.read_csv('./inputs/HR_Breakpoints_Winter_DEC-DEP_(2019).csv')
df_hr_winter.head()

In [4]:
df_hr_winter['UNIT_ID'] = df_hr_winter.UNIT_NAME + '_'+ df_hr_winter.CC_KEY.apply(str)
df_hr_winter = df_hr_winter.loc[:, ['UNIT_ID', 'POINT','MW', 'IHR']]

df_hr_winter.head()

       UNIT_ID  POINT     MW     IHR
0  ALLE_UN01_0      1    1.0  9.3349
1  ALLE_UN01_0      2   42.0  9.3538
2  ALLE_UN01_0      3   85.0  9.4917
3  ALLE_UN01_0      4  106.0  9.6391
4  ALLE_UN01_0      5  126.0  9.8458

In [5]:
df = df_hr_winter.unstack(level=0)
df.unstack()

,0,1,2,3,4,5,6,7,8,9,...,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191
UNIT_ID,ALLE_UN01_0,ALLE_UN01_0,ALLE_UN01_0,ALLE_UN01_0,ALLE_UN01_0,ALLE_UN01_0,ALLE_UN01_0,ALLE_UN01_0,ALLE_UN02_0,ALLE_UN02_0,...,WCOP_CT14_0,WCOP_CT14_0,WSPN_CT01_0,WSPN_CT01_0,WSPN_CT01_0,WSPN_CT01_0,WSPN_CT01_0,WSPN_CT01_0,WSPN_CT01_0,WSPN_CT01_0
POINT,1,2,3,4,5,6,7,8,1,2,...,7,8,1,2,3,4,5,6,7,8
MW,1,42,85,106,126,146,167,200,1,42,...,197,236,1,6,12,50,88,126,164,197
IHR,9.3349,9.3538,9.4917,9.6391,9.8458,10.1297,10.5244,11.3781,9.5272,9.546,...,8.8605,11.2462,11.9825,11.9826,11.9827,11.9932,12.0405,12.1528,12.3579,12.6332

In [6]:
df_winter_pivot  = df_hr_winter.pivot(index='UNIT_ID',columns='POINT')[['MW','IHR']]
df_winter_pivot.to_csv('./outputs/HR_Breakpoints_Winter_Wide.csv', sep=',', encoding='utf-8')
df_winter_pivot = pd.read_csv('./outputs/HR_Breakpoints_Winter_Wide.csv', index_col=0, skiprows=[1,2])
df_winter_pivot

,MW,MW.1,MW.2,MW.3,MW.4,MW.5,MW.6,MW.7,IHR,IHR.1,IHR.2,IHR.3,IHR.4,IHR.5,IHR.6,IHR.7
ALLE_UN01_0,1.0,42.0,85.0,106.0,126.0,146.0,167.0,200.0,9.3349,9.3538,9.4917,9.6391,9.8458,10.1297,10.5244,11.3781
ALLE_UN02_0,1.0,42.0,85.0,106.0,126.0,146.0,167.0,200.0,9.5272,9.5460,9.6831,9.8296,10.0351,10.3173,10.7096,11.5581
ALLE_UN03_0,1.0,70.0,140.0,172.0,205.0,238.0,270.0,324.0,8.8450,8.8636,8.9940,9.1214,9.3129,9.5772,9.9140,10.6923
ALLE_UN04_0,1.0,70.0,140.0,172.0,204.0,235.0,267.0,320.0,8.7468,8.7636,8.8816,8.9967,9.1638,9.3843,9.6818,10.3564
ALLE_UN05_0,1.0,72.0,143.0,172.0,201.0,230.0,259.0,311.0,8.8160,8.8317,8.9390,9.0301,9.1576,9.3278,9.5469,10.0814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WCOP_CT11_0,1.0,35.0,70.0,100.0,131.0,162.0,192.0,230.0,8.4949,8.5045,8.5716,8.7186,8.9978,9.4460,10.0782,11.2167
WCOP_CT12_0,1.0,50.0,100.0,123.0,146.0,170.0,193.0,232.0,7.6842,7.6861,7.6991,7.7119,7.7305,7.7573,7.7911,7.8699
WCOP_CT13_0,1.0,50.0,100.0,121.0,142.0,164.0,185.0,222.0,7.6842,7.6861,7.6991,7.7105,7.7268,7.7498,7.7784,7.8469
WCOP_CT14_0,1.0,50.0,100.0,124.0,148.0,173.0,197.0,236.0,5.5436,5.5978,5.9774,6.3708,6.9500,7.7899,8.8605,11.2462
WSPN_CT01_0,1.0,6.0,12.0,50.0,88.0,126.0,164.0,197.0,11.9825,11.9826,11.9827,11.9932,12.0405,12.1528,12.3579,12.6332

Calculating the breakpoints as the difference between the MW points.  \
The HR are computed as the average between the continous IHR values

In [7]:
df_winter_pivot['IHRC_B1_Q'] =  df_winter_pivot['MW.1'] - df_winter_pivot['MW'] + 1
df_winter_pivot['IHRC_B1_HR'] = (df_winter_pivot['IHR'] + df_winter_pivot['IHR.1'])/2
df_winter_pivot['IHRC_B2_Q'] =  df_winter_pivot['MW.2'] - df_winter_pivot['MW.1']
df_winter_pivot['IHRC_B2_HR'] = (df_winter_pivot['IHR.1'] + df_winter_pivot['IHR.2'])/2
df_winter_pivot['IHRC_B3_Q'] =  df_winter_pivot['MW.3'] - df_winter_pivot['MW.2']
df_winter_pivot['IHRC_B3_HR'] = (df_winter_pivot['IHR.2'] + df_winter_pivot['IHR.3'])/2
df_winter_pivot['IHRC_B4_Q'] =  df_winter_pivot['MW.4'] - df_winter_pivot['MW.3']
df_winter_pivot['IHRC_B4_HR'] = (df_winter_pivot['IHR.3'] + df_winter_pivot['IHR.4'])/2
df_winter_pivot['IHRC_B5_Q'] =  df_winter_pivot['MW.5'] - df_winter_pivot['MW.4']
df_winter_pivot['IHRC_B5_HR'] = (df_winter_pivot['IHR.4'] + df_winter_pivot['IHR.5'])/2
df_winter_pivot['IHRC_B6_Q'] =  df_winter_pivot['MW.6'] - df_winter_pivot['MW.5']
df_winter_pivot['IHRC_B6_HR'] = (df_winter_pivot['IHR.5'] + df_winter_pivot['IHR.6'])/2
df_winter_pivot['IHRC_B7_Q'] =  df_winter_pivot['MW.7'] - df_winter_pivot['MW.6']
df_winter_pivot['IHRC_B7_HR'] = (df_winter_pivot['IHR.6'] + df_winter_pivot['IHR.7'])/2
df_winter_pivot.head()

,MW,MW.1,MW.2,MW.3,MW.4,MW.5,MW.6,MW.7,IHR,IHR.1,...,IHRC_B3_Q,IHRC_B3_HR,IHRC_B4_Q,IHRC_B4_HR,IHRC_B5_Q,IHRC_B5_HR,IHRC_B6_Q,IHRC_B6_HR,IHRC_B7_Q,IHRC_B7_HR
ALLE_UN01_0,1.0,42.0,85.0,106.0,126.0,146.0,167.0,200.0,9.3349,9.3538,...,21.0,9.56540,20.0,9.74245,20.0,9.98775,21.0,10.32705,33.0,10.95125
ALLE_UN02_0,1.0,42.0,85.0,106.0,126.0,146.0,167.0,200.0,9.5272,9.5460,...,21.0,9.75635,20.0,9.93235,20.0,10.17620,21.0,10.51345,33.0,11.13385
ALLE_UN03_0,1.0,70.0,140.0,172.0,205.0,238.0,270.0,324.0,8.8450,8.8636,...,32.0,9.05770,33.0,9.21715,33.0,9.44505,32.0,9.74560,54.0,10.30315
ALLE_UN04_0,1.0,70.0,140.0,172.0,204.0,235.0,267.0,320.0,8.7468,8.7636,...,32.0,8.93915,32.0,9.08025,31.0,9.27405,32.0,9.53305,53.0,10.01910
ALLE_UN05_0,1.0,72.0,143.0,172.0,201.0,230.0,259.0,311.0,8.8160,8.8317,...,29.0,8.98455,29.0,9.09385,29.0,9.24270,29.0,9.43735,52.0,9.81415

In [8]:
df_winter_sub = df_winter_pivot.loc[:, ['IHRC_B1_Q', 'IHRC_B1_HR', 'IHRC_B2_Q', 'IHRC_B2_HR', 
                                        'IHRC_B3_Q', 'IHRC_B3_HR', 'IHRC_B4_Q', 'IHRC_B4_HR', 
                                        'IHRC_B5_Q', 'IHRC_B5_HR', 'IHRC_B6_Q', 'IHRC_B6_HR', 
                                        'IHRC_B7_Q', 'IHRC_B7_HR']]

df_winter_sub.to_csv('./outputs/HR_Breakpoints_Winter_Results.csv', sep=',', encoding='utf-8')